body {
    background-image: url('../../../assets/images/indeximage.jpg');
    background-repeat: no-repeat;
    background-size: 100% 920px;
}
.description {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F2EADF;
    margin-top: 130px;
    margin-left: 90px;
    border-radius: 20px;
    width: 451px;
    height: 358px;
    box-shadow: 0px 0
px 5px rgba(0, 0, 0, 0.7);
}

.description > h2 {
    padding-top: 50px;
    text-align: center;
    color: #AF4626;
}

.description > h2 span {
    color: #273C2C;
}

.description > p {
    font-size: 21px;
    padding: 50px;
    color: #273C2C;
}

.join_now {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 185.2px;
}