.footerOfApp {
    background-color: #273C2C;
    height: 210px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
}

.footerOfApp>.otherLinks {
    position: absolute;
    display: flex;
    align-self: center;
    flex-direction: column;
}

.OtherLinks>img {
    height: 200px;
    width: 100%;
}

.socialNetworks {
    display: flex;
    margin-top: 10px;
    align-items: center;
    justify-content: center;
}

.socialNetworks>img {
    margin-left: 10px;
    height: 37px;
}

#facebook {
    background-image: url('../../assets/images/facebook.png');
}

#youtube {
    background-image: url('../../assets/images/youtube.png');
}

#instagram {
    background-image: url('../../assets/images/instagram.png');
}

#facebook,
#youtube,
#instagram {
    display: flex;
    align-self: center;
    height: 50px;
    width: 50px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 40px 40px;
    margin-left: 10px;
    padding: 5px;
    border-radius: 100%;
    transition: 0.5s;
}

#facebook:hover,
#youtube:hover,
#instagram:hover {
    transition: 0.6s;
    background-color: #222;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.6);
}

#facebook:hover {
    background-image: url('../../assets/images/facebookColor.png');
}

#youtube:hover {
    background-image: url('../../assets/images/youtubeColor.png');
}

#instagram:hover {
    background-image: url('../../assets/images/instagramColor.png');
}

.madeBy {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-self: flex-start;
    justify-content: flex-end;
    margin-left: 20px;
    margin-bottom: 20px;
    color: rgba(255, 255, 255, 0.2);
    position: relative;
}