.servicesBarContainer {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #F2EADF;
    align-items: center;
}

h1 {
    color: #273C2C;
    margin-top: 90px;
    margin-bottom: 70px;
}

.servicesBarContainer >.servicesSections {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 80px;
}

.fieldBox,
.classesBox,
.implementsBox {
    width: 342px;
    height: 343px;
    border-radius: 30px;
    border-color: black;
    border: solid;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

button {
    margin-bottom: 40px;
    padding: 20px;
    height: 60px;
    width: 166px;
    color: white;
    font-size: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    background-color: #273C2C;
    border-color: white;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.6);
    cursor: pointer;
    font-weight: normal;
    transition: 0.7s;
}

button:hover {
    background-color: #203024;
    transition: 0.7s;
}

.fieldBox {
    background-image: url('../../../assets/images/fieldsImage.jpg');
    margin-left: 150px;
}
.classesBox {
    background-image: url('../../../assets/images/classesImage.jpg');
}
.implementsBox {
    background-image: url('../../../assets/images/implementsImage.jpeg');
    margin-right: 150px;
}

.reserveNow {
    background-color: #AF4626;
    border: none;
    width: 199px;
    height: 73px;
    font-size: 24px;
    transition: 0.7s;
    margin-bottom: 80px;
}

.reserveNow:hover {
    background-color: #b1573b;
    transition: 0.7s;
}