#news {
    z-index: 0;
}
.News {
    background-color: white;
    margin-top: 300px;
    padding: 30px 50px;
}

.titleOfNews {
    color: #273C2C;
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
}

.NewsContainer {
    display: flex;
    justify-content: center;
    padding: 40px;
    height: 600px;
    background-color: #E0DAD1;
    color: #273C2C;
    border-radius: 30px;
}

.slick-slide .side-text {
    display: none;
}

.slick-slider {
    margin-top: 40px;
    width: 100%
}

.slide-item {
    width: 700px; 
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide-image {
    width: 90%;
    height: 90%;
    object-fit: cover;
    top: 0;
    left: 0;
    position: relative;
    transition: all 0.3s ease-in-out;
    border-radius: 20px;
}

.active-slide img {
    z-index: 1;
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-top: 0;
}

.anchorW {
    text-decoration: none;
    color: #AF4626;
}

.anchorW:hover {
    color: #953c21;
}
